lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.swo

dist
pids
log
results
public/uploads
public/js/core
public/components
config/development.js
config/production.js
config/secrets.json
public/js/core/models.js
node_modules
npm-debug.log
.idea/*
.settings/*
/.settings/
/*.project
